<% title "Gratitudes" %>

<% @gratitude_items.each do |gratitude_item| %>
  <%= render gratitude_item %>
<% end %>

<p>
<%= link_to "New Gratitude", new_gratitude_item_path, class: "btn btn_primary my-2" %>
</p>